<!-- <webcam #webcam (initError)="handleInitError($event)"></webcam>
  <canvas #webcamCanvas id="canvas"></canvas> -->


<div class="w-full h-full flex flex-col items-center">
  <span *ngIf="!hasGetUserMedia()" class="text-center text-3xl">Webcam is not supported by your browser</span>
  <button *ngIf="hasGetUserMedia() && !videoRenderCanvas" class="btn" (click)="enableCam()">Enable Webcam</button>
  <div class="webcam relative pb-2/3 flex-1">
    <video #webcam class="object-contain h-96" autoplay></video>
    <canvas #webcamCanvas class="overlay object-contain h-96"></canvas>
    <canvas #imageCanvas class="overlay object-contain h-96"></canvas>
  </div>
</div>
<div class="flex justify-center">
  <ion-button *ngIf="videoRenderCanvas" class="btn" (click)="reverseCamera()">
  <ion-icon name="camera-reverse-outline"></ion-icon>

  </ion-button>
</div>
<div>
  <ion-label>Person Distance to Camera  {{personDistanceToCamera | number : '1.2-2' }} (in)</ion-label>
</div>
<div>
  <ion-label>Shoulder Width {{realWorldShoulderWidth | number : '1.2-2' }} (in)</ion-label>
</div>

<ng-template #loading>
  <div class="my-8 text-center text-3xl">Loading the Machine Learning model...</div>
</ng-template>
